<h1 class="center-text">you</h1>
<div class="header">
  <img class="header-img pointer" src="http://i.imgur.com/1PjWUWk.jpg">
</div>
<% @posts.each do |post| %>
  <div class="row">
    
    <div class="col-sm-8"> 
      <div class="post">
        <%= link_to(post) do %>
          <h3 ><%= post.title %></h3>
        <% end %>
          <p ><%= post.created_at.strftime("%b %-d, %Y") %></p>
        <% if admin_signed_in? %>
          <%= link_to "EDIT", edit_post_path(post), class: "btn btn-warning" %>
        <% end %>

        <h5> <%= simple_format("#{post.body}")%> </h5>
        
      </div>
    </div>
    <div class="col-sm-4">
      <img class="post-img" src=<%= post.image_url %>>
    </div>
  </div>
<% end %>